@import '../../dist/bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../dist/bower_components/neat/app/assets/stylesheets/neat';


*{
  background-color: #999;
}

h1{
  color: white;
  text-decoration: underline;
  margin-left: 30px;
}

h2{
  color: white;
  text-decoration: underline;
}
.main-wrapper{
  @include outer-container;
  margin-left: 30px;
}

.article{
  @include span-columns(6 of 12);
  margin-left: 30px;
}

.averages{
  @include outer-container;
  @include span-columns(12 of 12);
  margin-left: 30px;

}
